{% extends "frontendTemplates/layouts/webplayer/frame.html" %}

{% block title %} Spotify Clone | Webplayer Genre {% endblock %}

{% block main-content %}

{% load static %}

<section id="section-main">
    <div class="filterNav">
        <a href="{% url 'frontend.webplayer.index.id' sid=song.id %}" class="filterNav-link">Featured</a>
        <a href="{% url 'frontend.webplayer.category' sid=song.id %}" class="filterNav-link">Categories</a>
        <a href="{% url 'frontend.webplayer.genre' sid=song.id %}" class="filterNav-link active">Genre</a>
        <a href="{% url 'frontend.webplayer.mood' sid=song.id %}" class="filterNav-link">Mood</a>
        <a href="{% url 'frontend.webplayer.artist' sid=song.id %}" class="filterNav-link">Artist</a>
        <a href="{% url 'frontend.webplayer.favorite' sid=song.id %}" class="filterNav-link">Favorites</a>
    </div>
    <div class="music">
        <div class="music-page">
            <div class="music-head">
                <div class="music-head-item">
                    <h1>All Genres</h1>
                </div>
            </div>
            <div class="music-row">

                {% if data|length == 0 %}
                    <p>No Genre Data Found!</p>
                {% else %}

                {% for row in data %}

                <a href="{% url 'frontend.webplayer.genre.details' gid=row.id sid=song.id %}" class="music-col">
                    <div class="music-img">
                        {% static './images/home.jpg' as baseURL %}
                        <img src="{{ baseURL|cut:'.jpg' }}{{ forloop.counter }}.jpg" alt="night" class="img-fluid">
                        <button class="music-playBtn">
                            <img src="{% static './images/play.svg' %}" alt="play">
                        </button>
                    </div>
                    <h3>{{ row.genre_name }}</h3>
                </a>

                {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>
</section>

{% endblock %}