<header id="header-index" class="header">
    <nav class="navbar navbar-expand">
        <div class="container">
            <a class="navbar-brand" href="{% url 'frontend.index' %}">Spotify</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" data-toggle="modal" data-target="#exampleModalCenter" href="#">Premium</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#exampleModalCenter" href="#">Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#exampleModalCenter" href="#">Download</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#exampleModalCenter" href="#">Upgrade</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#exampleModalCenter" href="#">Hi, {{ user.name }}!</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Profile
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'frontend.account.index' %}">Account</a>
                            <a class="dropdown-item" href="{% url 'frontend.logout' %}">Logout</a>
                        </div>
                    </li>
                    {% else %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'frontend.login' %}">Log In</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'frontend.signup' %}">Sign Up</a>
                    </li>

                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>