{% extends "adminTemplates/layouts/layout-dashboard.html" %}
{% block title %} Admin Dashboard | Homepage Edit {% endblock %}
{% block main-section %}

{% if messages %}
<div class="alert alert-success" role="alert">
{% for msg in messages %}
    <b>{{ msg }}</b>
    <br>
{% endfor %}
</div>
{% endif %}

<div class="container">
<div class="row">
<div class="col-12 text-center">
    <div class="main-section">
        <h2 class="content-heading">Edit Homepage Record</h2>
    <form action="{% url 'admin.homepage.update' id=homepage.id %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">

                <div class="form-group text-left">
                <label for="title">Title</label>
                <input type="text" name="title" class="form-control" id="title" value="{{ homepage.title }}">
                </div>

            </div>
            <div class="col-6">

                <div class="form-group text-left">
                <label for="song">Select a Song</label>
                <select class="form-control" id="song" name="song">
                    <option value="-1">--- Select Song ---</option>
                    {% for row in data %}
                    <option {% if row.id == homepage.song.id %} selected {% endif %} value="{{ row.id }}">{{ row.song_name }}</option>
                    {% endfor %}
                </select>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <button type="submit" class="btn btn-outline-success">Update</button>
                <button type="button" onclick="location.href = '{% url 'admin.homepage.index' %}'" class="btn btn-outline-dark">Dismiss</button>
            </div>
        </div>

    </form>
        

    </div>
</div>
</div>
</div>
{% endblock %}